* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  width: 100%;
  height: 92px;
  left: 0;
  z-index: 999;
  top: 0;
  background: #3c3a39;
}

nav {
  position: relative;
}

.icon-mess {
  display: none;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 12px;
  position: absolute;
  height: 7vh;
  margin-top: 1rem;
  left: 12px;
}

.bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 5px auto;

  /* -webkit-transition: all 0.3s ease-in-out; */
  transition: all 0.1s ease-in-out;
  background-color: white;
}

.bar:hover {
  background-color: #ff6b00;
}

.hamburger {
  display: block;
  z-index: 999 !important;
  position: absolute;
  left: 90%;
  margin-top: 1.5rem;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px)  rotate(45deg);
  background-color: #6f6c6b;
  height: 3px;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px)  rotate(-45deg);
  background-color: #6f6c6b;
  height: 3px;
}

.logo p {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.sub {
  width: 327px;
  height: 27px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.p {
  width: 330px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

.main {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 40px;
  gap: 12px;
  width: 100%;
  left: 0;
  background: #1c1a19;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  /* height: 870px; */
  left: 0;
  top: 0;
  background: #1c1a19;
}

.main-box {
  margin-top: 10%;
}

.main-box img {
  position: absolute;

  /* left: 73.37%; */

  /* right: -70.24%; */
  right: 0;
  top: 30%;
  bottom: 0.1%;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  height: 3rem;
  margin-top: 1rem;
}

.first-icon {
  top: 74vh;
  position: absolute;
  left: 2rem;
}

.git {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: relative;
}

/* .git img  {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */

.lin {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: relative;
}

.ter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: relative;
}

.twitter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: relative;
}

.mess {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: relative;
}

.git img {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 5px;
}

.lin img {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 10px;
}

.ter img {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 3px;
}

.mess img {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  top: 6px;
  left: 0;
}

.twitter img {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 0;
}

.recent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;

  /* position: absolute; */
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 107px;
}

.title h2 {
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
}

.v {
  width: 70%;
  height: 1px;
  border: 1px solid #212121;
  flex-grow: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  width: 100%;
}

.imgp {
  width: 327px;
  height: 237px;
  background: url(images/Img\ Placeholder.png);
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 0;
  width: 100%;
  margin-top: 0.5rem;
  gap: 1.5rem;
}

.post {
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin: 0;
}

.support {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #091e42;
}

.tag-main {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 80%;
  row-gap: 1rem;
  height: 7vh;
}

.tag1 {
  align-items: center;
  height: 7vh;
  text-align: center;
  background: #fff;
  border: 1px solid #8993a4;
}

.tag-main li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  line-height: 20px;
  list-style: none;
  color: #091e42;
}

.tag-main li a {
  text-decoration: none;
  color: #091e42;
}

.tag2 {
  box-sizing: border-box;
  align-items: center;
  height: 7vh;
  background: #fff;
  border: 1px solid #8993a4;
}

.tag3 {
  box-sizing: border-box;
  align-items: center;
  height: 7vh;
  background: #fff;
  border: 1px solid #8993a4;
}

.tag4 {
  box-sizing: border-box;
  display: block;
  align-items: center;
  height: 7vh;
  background: #fff;
  border: 1px solid #8993a4;
}

.buttom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 10rem;
  height: 8vh;
  background: #ff6b00;
}

.see {
  width: 100%;
  height: 6vh;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}

.frame-sub {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  width: 100%;
  gap: 1rem;
  right: 0;
}

.card-works {
  width: 93%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  right: 0;
}

.mask {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.img-placeholder {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 370px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(images/Img\ Place.png);
}

.div {
  padding: 3em 1rem;
  position: relative;
}

.right-works {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pro {
  width: 80%;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 80px;
  color: #fff;
}

.sub1 {
  width: 90%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 280px;
  height: 10vh;
}

.tags1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 50px;
  height: 7vh;
  list-style: none;
  background: rgba(255, 255, 255, 0.24);
}

.tags h6 {
  width: 32px;
  height: 20px;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.tags2 {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 7vh;
  background: rgba(255, 255, 255, 0.24);
}

.tags2 h6 {
  width: 71px;
  height: 20px;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.tags3 {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 7vh;
  background: rgba(255, 255, 255, 0.24);
}

.tags3 h6 {
  width: 37px;
  height: 20px;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.but {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.4rem;
  height: 40px;
  width: 100%;
  background: #ff6b00;
  justify-content: center;
  position: relative;
}

.see1 {
  height: 40px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 2px 10px;
  background: #1c1a19;
  width: 100%;
  left: 0;
  margin-top: 2rem;

  /* position: absolute; */
}

.about-sub {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.primary {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  width: 100%;
}

.description {
  width: 70%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  letter-spacing: 0.5px;
  font-weight: 100;
}

.get {
  padding: 12px;
  width: 10rem;
  height: 3rem;
  background: #ff6b00;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #fff;
}

.img-about {
  position: absolute;
  width: 50%;
  height: 39vh;
  right: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.img-about img {
  position: absolute;
  bottom: 13rem;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.divi {
  width: 90vw;
  height: 1px;
  left: 0;
  right: 0;
  background-color: #fff;
}

.skill {
  display: flex;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  width: 100%;
  bottom: 0;
  background-color: #1c1a19;
}

.li-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  height: 41.46px;
}

.li-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.tri {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
}

.li-items p {
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.lan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.mjava {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  height: 48px;
}

.java {
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.mruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  height: 48px;
}

.ruby {
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.mhtml {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  height: 48px;
}

.html {
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.mcss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  height: 48px;
}

.css {
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.li-items1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  margin-top: 25px;
  width: 225.46px;
  height: 360.46px;
}

.li-items1 p {
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.squ {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.circle {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
}

.button:hover,
.but:hover,
.buttom:hover,
.get:hover {
  background-color: white;
  border: 1px solid#ff6b00;
}

.button:active,
.but:active,
.buttom:active {
  background-color: #ff6b00 !important;
  color: white;
}

a :disabled {
  background-color: grey;
}

.buttom a:hover,
.but a:hover,
.button a:hover,
.menu-bar a:hover {
  color: #ff6b00;
}

.buttom a:active,
.but a:active,
.button a:active,
.menu-bar a:active {
  color: white;
}

.buttom:disabled,
.but :disabled,
.button:disabled {
  background-color: white;
}

.form-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 3rem;
  gap: 58px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 40px;
  text-align: center;
  color: #172b4d;
  width: 100%;
}

input {
  border: none;
  width: 100%;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbd8d7;
}

.input {
  width: 100%;
}

.inp2,
.pro2 {
  display: none;
}

textarea {
  border: none;
  width: 100%;
  height: 118px;
  margin-top: 10px;
  padding-top: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background: #fbf8f7;
  color: #3c3a39;
}

.get-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 10px;
  height: 3rem;
  left: 100px;
  border: none;
  width: 38%;
  margin: 1rem 0;
  background: #ff6b00;
}

.get-in:hover {
  background-color: white;
  border: 1px solid#ff6b00;
  color: #ff6b00;
}

.get-in:active {
  background: #ff6b00;
  color: white;
}

.get-in:disabled {
  background-color: #dbd8d7;
  color: #3c3a39;
}

.ico {
  display: flex;
  gap: 1rem;
}

.ico-ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.di {
  height: 1px;
  width: 100%;
  top: 800px;
  background: #dfe1e6;
}

.fin {
  width: 30vw;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
}

.menu-bar {
  width: 100%;
  background-color: #3c3a39;
  position: absolute;
  z-index: 999;
  padding: 4rem 2rem;
  gap: 2rem;
  flex-direction: column;
  list-style: none;
  height: 100vh;
  display: none;
}

.show-navbar {
  display: block !important;
}

.indicator {
  height: 1px;
  width: 100%;
  background-color: #6f6c6b;
  margin: 1rem 0;
}

.head-link {
  text-decoration: none;
  color: #fff5e1;
  width: 100%;
  margin: 1rem 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

/* .head-link {
  display: none;
} */

.imp-desk,
.desktop-img {
  display: none;
}

.img-aboutbig {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    position: absolute;
    width: 100%;
    height: 72px;
    display: flex;
  }

  nav {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .head-link {
    color: #dfe1e6;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: larger;
    list-style: none;
  }

  .menu-bar {
    background-color: transparent;
    margin-left: 30rem;
    width: 70%;
    z-index: 999;
    padding: 0.5rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .menu-bar li {
    list-style: none;
  }

  .menu {
    display: none;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    /* height: 870px; */
    left: 0;
    top: 0;
    background: #1c1a19;
  }

  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 150px;
    width: 30%;
  }

  .p {
    width: 100%;
  }

  .sub {
    width: 100%;
  }

  .first-icon {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 12rem;
    top: 15rem;
  }

  .headline-img {
    display: none;
  }

  .desktop-img {
    background-repeat: no-repeat;
    position: relative;
    width: 60%;
    height: 90vh;
    display: block;
  }

  .desktop-img img {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .title h2 {
    color: #091e42;
  }

  .v {
    width: 65%;
  }

  .featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .imp-desk {
    width: 55%;
    height: 60vh;
    display: block;
    position: relative;
  }

  .imp-desk img {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .img-aboutbig {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    left: 2.5rem;
  }

  .imgp,
  .img-about {
    display: none;
  }

  .block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    padding: 1rem;
    height: 60vh;
    width: 44%;
  }

  .support {
    width: 92%;
  }

  .tag-main {
    display: flex;
    padding: 0;
    width: 30vw;
    height: 7vh;
  }

  .about-sub {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60vh;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 3.5rem;
  }

  .about-sub h6 {
    width: 70%;
  }

  .primary {
    width: 100%;
  }

  .about-box {
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .img-aboutbox {
    width: 60%;
    height: 50vh;
    position: relative;
    align-items: flex-end;
  }

  .skill ul {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
  }

  .about {
    bottom: 0;
  }

  .form-cont {
    bottom: 0;
  }

  .li-items {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: flex-start;
    margin: 1rem;
    height: 100%;
    justify-content: center;
  }

  .li-items1 {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: flex-start;
    margin: 1rem;
    height: 100%;
    gap: 0;
  }

  .li-main {
    width: 100%;
    padding: 0;
  }

  .lan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .m {
    width: 100%;
    height: 3rem;
  }

  form {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    justify-content: space-between;
  }

  .input {
    width: 50%;
  }

  .h2 {
    width: 40%;
  }

  .fin {
    display: none;
  }

  .get-in {
    width: 25%;
  }

  .inp1,
  .pro1 {
    display: none;
  }

  .inp2,
  .pro2 {
    display: block;
  }

  .inp {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
  }

  .card-works {
    height: 100%;
  }

  .a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(images/Img\ Place.png);
  }

  .a2 {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(images/Img\ Place.png);
  }

  .b {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(images/Img\ Placeholder\ sec.png);
  }

  .card2 .but,
  .card3 .but,
  .card4 .but,
  .card5 .but,
  .card6 .but,
  .card1 .tags {
    display: none;
  }

  .c {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(images/Img\ Placeholder\ third.png);
  }

  .tags:hover,
  .tag:hover {
    width: 100%;
    transition: 10ms;
  }

  .imp-desk:hover,
  .card-works:hover {
    width: 55%;
    transition: 2s;
  }

  .sec-icon {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .get-in:hover,
  .get:hover {
    transform: rotate(360deg);
    transition: 4s;
  }
}
